.col-md-6.foreground-panel
  .panel.tap.panel-warning  
    .panel-heading
      %h3.panel-title
        - unless tap.beer.blank?
          = "Tap #{index+1}:  #{tap.beer_name}" 
    .panel-body
      - unless tap.beer.blank?
        .row
          .col-md-4= image_tag tap.beer.label_url
          .col-md-4
            %h1= tap.beer_name
            %h2= tap.beer.brewery_name
          .col-md-4
            %div.image_div
              =image_tag  "beerglass.png", :class => "srm srm-#{tap.beer.srm}"
        .spacer-15
        %table.table.beer-info-table
          %tr
            %td= "#{tap.beer.ibu} IBU"
            %td= "#{tap.beer.abv}% ABV"
            %td
              Color
              =srm(tap.beer.srm) || "?"
        %h3.beer-description= tap.beer.description