!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tappapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tappapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#kiosk
    .col-md-12.kiosk-header-img
      =image_tag "header.png"
    %main.without_navbar
      - @taps.each_with_index do  |tap, index|
        .col-md-6
          .panel.tap.panel-info
            .panel-heading
              .tap-header.panel-title
                Tap #{index+1}: #{tap.beer_name}
            .panel-body
              .row
                .col-md-4
                  %div
                    =image_tag "beerglass.png", class: "glass-0-srm-#{tap.beer.srm}"
                .col-md-4
                  %h2= tap.beer_name
                  %h3= tap.beer.brewery_name
                .col-md-4= image_tag tap.beer.label_url
              .spacer-15
              %table.table
                %tr
                  %td= "#{tap.beer.ibu} IBU"
                  %td= "#{tap.beer.abv}% ABV"
                  %td
                    Color
                    =srm(tap.beer.srm) || "?"
                  - if tap.sensor.present?
                    %td= "#{tap.sensor.percent_remaining}% Remaining"
              %p.tap-description= tap.beer.description