!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tappapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tappapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#kiosk
    %header
    %main.without_navbar
      - @taps.each_with_index do  |tap, index|
        .col-md-6
          .panel.tap
            .panel-body
              .row
                .col-md-12
                  %h3= "Tap #{index+1}"
                  %h2= tap.beer_name
              .row
                .col-md-6
                  %h3= tap.beer.brewery_name
                  %h3= "#{tap.beer.ibu} IBU"
                  %h3= "#{tap.beer.abv}% ABV"
                  - if tap.sensor.present?
                    %h3= "#{tap.sensor.percent_remaining}% Remaining"
                  %h3
                    Color:
                    =srm(tap.beer.srm) || "?"
                .col-md-6= image_tag tap.beer.label_url
              .row
                .col-md-12
                  = simple_format(tap.beer.description)

