%p#notice= notice

%p
  %b Name:
  = @brewery.name
%p
  %b Location:
  = @brewery.location
%p
  %b Description:
  = simple_format(@brewery.description)

- if user_signed_in?
  = link_to 'Edit', edit_brewery_path(@brewery)
  \|
= link_to 'Back', breweries_path
