= twitter_bootstrap_form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
  = f.text_field :name, data: {autocomplete_source: search_beers_path}
  = f.text_area :description
  = f.text_field :brewery_name, data: {autocomplete_source: breweries_path}
  = f.number_field :ibu
  %span{style: "float: left"}
    = f.number_field :srm
  %span#srm_info{style: "float: left"}
    = srm(@beer.srm)
  %br{style: "clear:both"}

  = f.text_field :abv
  = f.submit 'Save'