= twitter_bootstrap_form_for @<%= singular_table_name %> do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
<% for attribute in attributes -%>
  = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
  = f.submit 'Save'