%h1 Listing <%= plural_table_name %>

%table.table
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td
          = link_to "Show", <%= singular_table_name %>
          = primary_link_to icon_with_text("pencil", "Edit"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          = danger_link_to icon_with_text("trash", 'Destroy'), <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= primary_link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path