!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : appName()
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : appName()}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -unless request.original_url.include? "kiosk"
      %header
        = render 'layouts/navigation'
    %main{:role => "main", :class => ("kiosk" if request.original_url.include? "kiosk")}
      = render 'layouts/messages'
      = yield
